<%= form_for ([@harvest, @order]) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>
        </div> 
    <% end %>
    <div class="field">
        <p>Form Field</p>
    </div>
    
    <div class="field">
              
    </div>
        
    <div class="field">
        
    </div>
    
    
<% end %>